.loginBox {
    width: 320px;
    height: 420px;
    align-content: center;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: grey;
    padding: 70px 30px;
    border-radius: 15px;
}

.boxTitle {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.inputLabel {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.inputBox {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 15px;
}

.loginSubmitButton {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginSubmitButton:hover {
    cursor: pointer;
    background-color: tomato;
    color: black;

}

.loginStatus {
    padding-bottom: 20px;
    color: crimson;
}