.welcomeBox {
    width: 550px;
    height: 65px;
    align-content: center;
    background-color: rgb(124, 124, 124);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    border-radius: 15px;
}

.welcomeTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#N {
    color: red;
}