* {
    margin: 0;
    padding : 0;
    font-family: Arial;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav #N {
    color: red;
}

nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li #link {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: None;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li #link:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}