.messanger {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu {
    margin-top: 100px;
    flex: 2;
}

.menuSearch {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    margin-top: 90px;
    flex: 5;
}

.chatHead{
    position: fixed;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgb(158, 158, 158);
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.headImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.headName {
    font-weight: 1000;
}

.boxTop {
    height: 98%;
    overflow-y: scroll;
}

.textBox {
    margin-top: 75px;
}

.boxBottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textInput {
    width: 80%;
    height: 15px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;

}

.textSubmit {
    margin-right: 40px;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: crimson;
}

.menuWrapper, .boxWrapper {
    padding: 10px;
    height: 100%;
}

.noConvo {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 40px;
    text-align: center;
    color: rgb(158, 158, 158);
    cursor: default;
}